.pagination-wrapper {
    background-color: #fff7d5;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .pagination-list {
    list-style: none;
    display: flex;
    gap: 12px;
    padding: 0;
    margin: 0;
  }
  
  .pagination-box,
  .pagination-arrow {
    width: 40px;
    height: 40px;
    border: 1.5px solid #999;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .pagination-box {
    border-radius: 6px;
  }
  
  .pagination-box.active {
    border: 2px solid green;
    color: green;
  }
  
  .pagination-arrow {
    border-radius: 6px;
    color: green;
    border: 1.5px solid #ccc;
    font-size: 20px;
  }
  